  html, body {
    overflow: hidden; /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fc-header-toolbar {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }


.navbar 
{
    display: none;
}

.breadcrumb
{
    display: none;
}

footer{
    display: none;
}

hr
{
    display: none;
}

.fc .fc-button-primary {
    background-color: #26a9e1;
    background-color: var(--fc-button-bg-color, #26a9e1);
    border-color: #26a9e1;
    border-color: var(--fc-button-border-color, #26a9e1);
  }
.fc .fc-button-primary:hover {
    background-color: #26a9e1;
    background-color: var(--fc-button-hover-bg-color, #26a9e1);
    border-color: #26a9e1;
    border-color: var(--fc-button-hover-border-color, #26a9e1);
  }
.fc .fc-button-primary:disabled { /* not DRY */
    background-color: #26a9e1;
    background-color: var(--fc-button-bg-color, #26a9e1);
    border-color: #26a9e1;
    border-color: var(--fc-button-border-color, #26a9e1); /* overrides :hover */
  }
.fc .fc-button-primary:not(:disabled):active,
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #26a9e1;
    background-color: var(--fc-button-active-bg-color, #26a9e1);
    border-color: #26a9e1;
    border-color: var(--fc-button-active-border-color, #26a9e1);
  }